.logo {
    background-color: rgba(255, 255, 255, 0.71);
    display: inline-block;
    position: fixed;
    z-index: 2;
    line-height: 1;
    width: 100%;
    padding-top: 5px;
    &__title {
        font-family: New_Direction;
        font-size: 26px;
        font-style: normal;
        width: 100%;
        padding: 5px 0 0 10px;
    }
    &__subtitle {
        font-family: Roboto;
        font-size: 8px;
        width: 100%;
        font-weight: 400;
        margin: 0;
        padding: 1px 0px 3px 14px;
        font-style: normal;
        letter-spacing: 9px;
    }
}
